.details{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 15vh;
  margin-right: 5vh;
  background-color: #FFAB2E;
  border-radius: 10px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.45);
  &__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5vh;
    min-width: 800px;
    max-width: 800px;
    &__name{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
      text-decoration: underline;
    }
    &__ingredients{
      display: flex;
      flex-direction: column;
      &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Kameron', serif;
      }
      &__1{
        display: flex;
        flex-direction: row;
        p{
          margin: 1rem;
        }
      }
      &__2{
        display: flex;
        flex-direction: row;
        p{
          margin: 1rem;
        }
      }
      &__3{
        display: flex;
        flex-direction: row;
        p{
          margin: 1rem;
        }
      }
    }
    &__title{
      font-family: 'Kameron', serif;
    }
  }
  img{
    border-radius: 0px 10px 10px 0px;
    margin-right: 2rem;
  }
}
